* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.main{
  background-color: lightgray;
  
}
#head1 {
  padding: 10px;
  font-size: 1.8em;
}
.navbar {
  background-color: rgb(27, 26, 26);
  margin: 0;
  padding: 0;
  height: 15%;
  width: 100%;
}
.navbar ul {
  overflow: auto;
}
.navbar li {
  float: left;
  list-style: none;
  border-right: 2px solid gray;
  padding: 6px;
}
.navbar li a {
  
  text-decoration: none;
  color: white;
}
.navbar li:hover {
  background-color: green;
}
a:active {
  color: green;
}
.div2 {
  width: 100%;
  margin-left: 1.8%;
  margin-bottom: 3%;
  

}
  
.div3{
  float: left;
  width: 70%;
  padding-bottom: 10%;
  padding-right: 3%;
  padding-top:2%;
  
}
.div4 {
  float: left;
  width: 30%;
  background-color: lightgray;
  padding-bottom: 21em;
  padding-right: 20px;
  padding-left: 10px;
}
.div4 p {
  padding: 2%;
  margin: 0;
}
h3 {
  font-size: 1.4em;
  color: rgb(49, 115, 156);
  padding: 2%;
}
h1 {
  font-size: 1.8em;
  margin-bottom: 2px;
  
  color: rgb(36, 36, 122);
}

  

.para1 {
  padding-bottom: 100px;
}
.para2 {
  padding-bottom: 20px;
}

.footer {
  background-color: lightgray;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  margin-bottom: 0;
  padding-left: 80%;
  padding-bottom: 10px;
}
.para3 {
  
  float: right;
  margin-bottom: 0;
}
